<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>|JTag | JankariTag</title>


  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center px-4">

<% if (locals.imgurls) { %>

  <div class="bg-white w-full max-w-md rounded-xl shadow-lg p-5 text-center">

    
    <h2 class="text-xl font-semibold text-gray-800 mb-4">
      Your QR Card
    </h2>

   
    <img 
      src="<%= imgurls.cardImg %>" 
      alt="QR Card"
      class="w-full rounded-lg border mb-4"
    />

   
    <a 
      href="<%= imgurls.cardImg %>" 
       target="_blank" 
      download
      class="block w-full bg-blue-600 hover:bg-blue-700 text-white py-3 rounded-lg font-medium transition"
    >
      Download Card
    </a>

    
   <a target="_blank" 
   href="https://wa.me/919667446393?text=<%= encodeURIComponent('Hello, I want to order this QR sticker.\n\nCustom ID: ' + customId + '\nImage Link: ' + imgurls.cardImg) %>" 
   class="block w-full bg-green-500 hover:bg-green-600 text-white py-3 rounded-lg font-medium mt-3 transition">
   Order via WhatsApp


      Order as Sticker in ₹59*
    </a>

    
    <p class="text-sm text-gray-500 mt-3">
      Delivery available all over India. Delivery amount is not included
    </p>

  </div>

<% } %>

</body>
</html>
